<li>
  <span class="cont"><%= link_to ad.content, ad %></span><br>
  <span class="photos"> <%= render_gallery_for ad.photos, original: 'image_full', thumbnail: 'image_thumb', title: 'name' %> </span>
  <div class="user">
    <%= ad.state %>
    by <%= @users.select { |user| user.id == ad.user_id}.first.email %> <br>
  </div>
  <%= render 'ads/links', :ad => ad %>
</li>
