<li>
  <span class='cont'><%= link_to ad.content, ad %></span><br>
  <span class='photos'> <%= render_gallery_for ad.photos,
    original: 'image_full', thumbnail: 'image_thumb', title: 'name' %> </span>

  <div class='info'>

    <div class='ad_type'><%= ad.ad_type.name %> | <%= ad.place.name %> |
      <%= ad.subsection.section.name %> - <%= ad.subsection.name %> </div>
    <%= ad.state %>
    by <%= link_to ad.user.name, ad.user %><br>

  </div>

</li>
