%table
  %tr
    %td
      = render 'ad_main', :ad => @ad
      = render 'keywords', :keywords => @ad.keywords
    %td.right
      = render 'ads/links', :ad => @ad
= render 'comments/comments', :comments => @ad.comments
- if can? :create, Comment
  = render 'comments/new_form'
