<% if can? :update, @ad %>
  <%= render 'ad_form', :ad => @ad %>
<% else %>
  <%= render 'ad_without_comments_number',
    ad: @ad, users: @users, ad_types: @ad_types  %>
<% end %>

<div class='comments-header'>
  <%= @ad.comments.count %>
  <%= 'comment'.pluralize(@ad.comments.count) %>
</div>

<ul class='models'>
  <%= render @ad.comments %>
</ul>

<% if can? :create, Comment %>
  <%= render 'comments/new_form' %>
<% end %>
