%h3= @subsection.section.name
= render 'ad_options/title', :option => @subsection
= render 'ad_options/form', :option => [@subsection.section, @subsection]
= render 'ad_options/options_list', :options => @subsections
= link_to 'back', new_section_path
