<li>
  <% ad.photos.each do |photo| %>
    <%= image_tag photo.image.url(:small) %>
    <%= photo.name %><br>
  <% end %>
  <span class="content"><%= ad.content %><br>
    <% if can? :delete, ad %>
      <%= link_to "delete", ad, method: :delete,
                                data: { confirm: "You  sure?" },
                                title: ad.content %>
    <% end %>
    <% if ((can? :update, ad) && ad.drafting?) %>
      <%= link_to "edit", ad %>
    <% end %>
  </span>
  <span  class="user"> <%= ad.state %> </span>
  <% if current_user.admin? %>
    <span  class="user"> by <%= @users.select { |user| user.id == ad.user_id}.first.email %> </span>
  <% end %>
  <% if (current_user.admin? || ad.drafting? || ad.rejected?) %>
    <% ad.state_transitions.each do |transition| %>
      <%= link_to transition.event, :action => 'change_state', :controller => 'ads', :id => ad, :state_event => transition.event, :method => :put %>
    <% end %>
  <% end %>
</li>
