<% provide(:title, @user.name) %>

  <h3> <%= @user.name %> </h3>
  <% if @user == current_user && @user.provider == nil %>
    <%= link_to 'edit', edit_user_registration_path %>
  <% end %>

<% if @user == current_user && (can? :manage, AdType) %>
  <%= link_to 'Ad types', AdType %><br>
<% elsif can? :update, @ad %>
    <%= render 'ads/ad_form' %>
<% end %>

<%= render 'ads/ads' %>
