- provide(:title, @user.name)

%table
  %tr
    %td
      %h3
        = @user.name
    %td.right

      - if @user == current_user && @user.provider == nil
        = link_to 'edit', edit_user_registration_path
      %br

      - if (can? :destroy, @user) && !@user.role.admin?
        = link_to 'delete', @user, method: :delete,
              data: { confirm: 'You sure?' }, title: @user.name
      %br

      - if ((can? :make_admin, @user) && (@user.role.user?))
        = link_to 'make admin', {:controller => :users, :action => :make_admin },
          :method => :put,
          data: { confirm: 'You sure?' }, title: @user.name
      %br

= link_to 'create new ad', new_ad_path if @user == current_user
= render 'ads/ads'
