- provide(:title, @user.name)


%table
  %tr
    %td
      %h3
        = @user.name
      %br
      - if @user == current_user
        Your balance:
        = current_user.wallet.balance
        %br= link_to 'add', new_payment_path
    %td.right

      - if @user == current_user && @user.provider == nil
        = link_to 'edit', edit_user_registration_path
      %br

      - if (can? :destroy, @user) && !@user.role.admin?
        = link_to 'delete', @user, method: :delete,
              data: { confirm: 'You sure?' }, title: @user.name
      %br

      - if ((can? :update, @user) && (@user.role.user?))
        = link_to 'to admin', {:controller => "users", :action => "update",
          :id => @user, :role => 'admin' }, :method => :put,
          data: { confirm: 'You sure?' }, title: @user.name
      %br

= render('ads/form', :ad => @ad) if can? :create, @ad

= render 'ads/ads'
