<%= form_for @ad_type do |f| %>
  <%= f.text_field :name, placeholder: 'Type ad type))' %>
  <%= f.submit 'Ok', :class => 'zocial' %>
<% end %>

<ul class='ads'>

  <% @ad_types.each do |ad_type| %>
    <li>
      <%= ad_type.name %>
      <%= link_to 'delete', ad_type, method: :delete,
                          data: { confirm: 'You  sure?' },
                          title: ad_type.name, :class => 'zocial' %>
    </li>
  <% end %>

</ul>

<%= link_to GlobalConstants::Back_link, current_user %>
