<header class='navbar navbar-fixed-top navbar-inverse'>
  <div class='navbar-inner'>
    <div class='container'>
      <%= link_to 'ADS', root_path, id: 'logo' %>
      <nav>
        <ul class='nav pull-right'>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Help', help_path %></li>
          <li><%= link_to 'Users', all_users_path %></li>
    	    <%= render 'layouts/login_items' %>
        </ul>
      </nav>
    </div>
  </div>
</header>
