!!!
%html
  %head
    %title= full_title(yield(:title))
    = include_gon(watch: true)
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render 'layouts/flash_messages'
    = render 'layouts/header'
    .container
      = yield
